#reset {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#container {
    background: cadetblue;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.square {
    border: solid;
    border-width: 10%;
    box-sizing: border-box;
}